.color-line {
  margin: 5px 0 50px 0;
  height: 65px;
  background: rgb(255, 121, 65);
  background: linear-gradient(
    45deg,
    rgb(207, 197, 187) 10%,
    rgba(254, 158, 54, 1) 20%,
    rgb(207, 197, 187) 30%,
    rgba(254, 158, 54, 1) 40%,
    rgb(207, 197, 187) 50%,
    rgba(254, 158, 54, 1) 60%,
    rgb(207, 197, 187) 70%,
    rgba(254, 158, 54, 1) 80%,
    rgb(207, 197, 187) 90%,
    rgba(254, 158, 54, 1) 100%
  );
}
